span.bbcode-bold {
    font-weight: bold;
}

span.bbcode-italic {
    font-style: italic;
}

span.bbcode-underline {
    text-decoration: underline;
}

span.bbcode-strikethrough {
    text-decoration: line-through;
}

img.bbcode-img {
    max-width: 100%;
}

div.bbcode-indent {
    margin-left: 3em;
}

div.bbcode-left {
    text-align: left;
}

div.bbcode-right {
    text-align: right;
}

div.bbcode-center {
    text-align: center;
}

table.bbcode-table {
    width: auto;
    display: inline-block;
}

table.bbcode-table tr td {
    border: 1px solid lightgrey;
    text-align: left;
    padding: 5px 10px;
}
