# Byte-compiled / optimized / DLL files
__pycache__/

# C extensions
*.so

# Visual Studo Solution Files
.vs/JumpCut/v15.suo

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# OS X
*.DS_Store

# Vagrant
.vagrant/
*.box
provision/vagrant.retry

# Redis
dump.rdb

# PyCharm
.idea/

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot
streisand/db.sqlite3
streisand/static/

# Sockets
*.sock

# Sphinx documentation
docs/_build/

# Visual Studio VS Json and config Settings
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/.gitlab

#VS PyProj Files
JumpCut.pyproj
JumpCut.pyproj.user
