Django[argon2]==1.10.5
Markdown==2.6.7
Pillow==4.0.0
Pygments==2.2.0
Werkzeug==0.11.15
anyjson==0.3.3
amqp==2.1.4
bbcode==1.0.24
beautifulsoup4==4.5.3
billiard==3.5.0.2
celery==4.0.2
dj-database-url==0.4.2
django-debug-toolbar==1.6
django-extensions==1.7.5
django-grappelli==2.9.1
django-picklefield==0.3.2
django-ratelimit==1.0.1
django-redis==4.7.0
django-su==0.5.2
kombu==4.0.2
psycopg2==2.6.2
pytz>=2016.10
redis==2.10.5
requests==2.12.5
six==1.10.0
sqlparse==0.2.2
tqdm==4.11.1
uWSGI==2.0.14
