Django[argon2]==1.11.6
Markdown==2.6.9
Pillow==4.2.1
Pygments==2.2.0
Werkzeug==0.12.2
anyjson==0.3.3
amqp==2.2.2
bbcode==1.0.26
beautifulsoup4==4.6.0
billiard==3.5.0.3
celery==4.1.0
cffi==1.11.0
dj-database-url==0.4.2
django-debug-toolbar==1.8
django-extensions==1.9.1
django-grappelli==2.10.1
django-picklefield==1.0.0
django-ratelimit==1.0.1
django-redis==4.8.0
django-su==0.5.2
djangorestframework==3.7.1
djangorestframework-camel-case==1.0b1
kombu==4.1.0
psycopg2==2.7.3.1
pycparser==2.18
pytz>=2016.10
redis==2.10.6
requests==2.18.4
six==1.11.0
sqlparse==0.2.4
tqdm==4.17.1
uWSGI==2.0.15
django-webpack-loader==0.0.5
