{% extends 'base.html' %}

{% load timestamp_formatting bbcode staticfiles %}

{% block title %}User Profile{% endblock %}

{% block main %}
    <div class="page-header">
      {% if profile.avatar_url %}
        <img src="{{ profile.avatar_url }}" width="150" />
      {% else %}
        <img src="{% static 'profiles/default_avatar.png' %}" width="150" />
      {% endif %}
      <h1>{{ profile.username }} ({{ profile.user_class }})</h1>
      {% if profile.custom_title %}
        <h6>{{ profile.custom_title }}</h6>
      {% endif %}
    </div>

    <ul>
      <li>Joined: {{ profile.user.date_joined|timestamp }}</li>
      <li>Last Seen: {{ profile.last_seen|timestamp }}</li>
      <li>Seeding Size: {{ profile.seeding_size }}</li>
      <li>Uploaded: {{ profile.bytes_uploaded|filesizeformat }}</li>
      <li>Downloaded: {{ profile.bytes_downloaded|filesizeformat }}</li>
      <li>Ratio: {{ profile.ratio }}</li>
      <li>Invites: {{ profile.invite_count }}</li>
      <li>Requests: {{ profile.torrent_requests.count }}</li>
      <li>Film comments: {{ profile.filmcomments.count }}</li>
      <li>Forum posts: {{ profile.forum_posts.count }}</li>
    </ul>

    {% if profile.description %}
      <div class="well">
        {{ profile.description|bbcode }}
      </div>
    {% endif %}
    <div>
      <h3>Recent Snatches</h3>
      {% for torrent in profile.recent_snatches %}
        <img src="{{ torrent.film.poster_url }}" width="150">
      {% endfor %}
      <p>
        <a href="{% url 'torrent_stats' username=profile.username %}">View all snatches</a>
      </p>
    </div>
    {% if user.is_staff %}
      <div>
        <h3>Staff Notes</h3>
        <pre>{{ profile.staff_notes }}</pre>
      </div>
    {% endif %}
{% endblock %}
