{% extends 'base.html' %}

{% block title %}User Profile{% endblock %}

{% block main %}
    <div class="page-header">
      <h1>{{ profile.username }}</h1>
    </div>

    <ul>
      <li>Uploaded: {{ profile.bytes_uploaded|filesizeformat }}</li>
      <li>Downloaded: {{ profile.bytes_downloaded|filesizeformat }}</li>
      <li>Ratio: {{ profile.ratio }}</li>
      <li>Torrents:
        <ul>
          {% for ts in profile.torrent_stats.all %}
            <li><a href="{{ ts.torrent.get_absolute_url }}">Torrent {{ ts.torrent.id }}</a> ({{ ts.bytes_uploaded }} / {{ ts.bytes_downloaded }})</li>
          {% endfor %}
        </ul>
      </li>
    </ul>
{% endblock %}
